# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production / Builds
/dist
/build
.docusaurus
.serverless

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# Build Outputs
backend/dist/

# Databases
*.db
*.db-journal
backend/prisma/dev.db
backend/prisma/dev.db-journal

# IDE / Editor logs
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
